# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Base de datos
*.db
*.sqlite
*.sqlite3

# Sistema
.DS_Store
Thumbs.db
desktop.ini
.vscode/
